.information-container{
    padding-left: 3%;
    margin: 20px;
    /*box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 2px 3px rgba(0,0,0,0.23);*/
}

.homepage-container{
    flex-direction: column;
    display: flex;
    margin: 50px;
    justify-content: space-evenly;
}