#edit-record-dialog{
    position: relative;
    width: 70%;
    height: 80%;
}

#edit-record-dialog::backdrop{
    background: grey;
    opacity: 0.2;
}

.edit-record-dialog-table{
    margin: 15px;
    width: 90%;
    height: 100%;
    white-space: normal;
}

.edit-record-dialog-table-header{
    margin-bottom: 5px;
}

.edit-record-dialog-title{
    text-align: center;
}

.mdl-dialog__content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mdl-dialog__actions{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.filter-search-row {
    display: flex;
    align-items: center;
    width: 100%;
}

.database-search-form {
    margin: 5px;
    width: 70%;
}

.search-database-textfield {
    width: 45%;
}

.database-search-button {
    margin: 5px;
    flex-grow: 2;
}

.database-crud-viewer {
    margin: 50px;
    display: block;
    width: 90%;
}

.database-view {
    width: 100%;
    table-layout: fixed;
    white-space: normal;
}

td{
    word-break: break-word;
}
