.view-form-responses{
    width : 85%;
}

.checkbox{
    width:100%;
    font-size:16px;
    text-align:center;
    border-style:outset;
}
table{
    width : 100%;
}

.filter-responses-row{
    display: flex;
    align-items: center;
    width : 100%;
}

