body{
    background-color: #263238;
    color: #eceff1;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
form{
    height: auto;
    width: auto;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Roboto', 'Helvetica', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    line-height: 42px;
    text-align: center
    margin-bottom: 20px;
}
::placeholder{
    color: #e5e5e5;
}
input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #ccc;
  border-radius: .1875rem;
  box-sizing: border-box;
  display: block;
  font-size: .875rem;
  margin-bottom: 1rem;
  padding: .275rem;
  width: 100%;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
  display: inline-block;
  width: auto;
}