@keyframes popupAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#edit-record-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#add-record-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

/* Style inputs with type="text", select elements and textareas */
#edit-record-form > input[type=text], select, textarea {
    width: 70%; /* Full width */
    padding: 10px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 10px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

#add-record-form > input[type=text], select, textarea {
    width: 70%; /* Full width */
    padding: 10px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 10px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

#delete-record-popup {
    background-color: rgba(0,0,0,0%);
    width: 100%;
    height: 100%;
}

/* Modal Content/Box */
.popup {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    width: 80%;
    height: 80%;
    animation-name: popupAnimation;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
}

.popup-table-view {
    height: 80%;
    width: 80%;
    table-layout: fixed;
    white-space: normal;
}

.edit-record-form {
    display: block;
    width: 80%;
    height: 100%;
}


.edit-record-dialog-table{
    margin: 15px;
    width: 90%;
    height: 100%;
    white-space: normal;
}

.edit-record-dialog-title{
    text-align: center;
}

.mdl-dialog__content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mdl-dialog__actions{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.filter-search-row {
    display: flex;
    align-items: center;
    width: 100%;
}

.database-search-form {
    margin: 5px;
    width: 70%;
}

.search-database-textfield {
    width: 60%;
}

.database-search-button {
    margin: 5px;
    flex-grow: 2;
}

.database-crud-viewer {
    margin: 50px;
    display: block;
    width: 90%;
}

.database-view {
    width: 100%;
    table-layout: fixed;
    white-space: normal;
}

td{
    word-break: break-word;
}

#search-database-info {
    display: block;
    margin: auto;
    padding-top: 10%;
    width: 20%;
    height: 20%;
    text-align: center;
    color: #757575;
}

#edit-record-loading-bar {
    display: none;
}

#add-record-loading-bar {
    display: none;
}